<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Default" connectionString="data source=MSI\GROCERYBAMASQL; Database=GroceryBama1;User Id=pspeegle; Password = Pocket107906s" />
  </connectionStrings>
</configuration>